{% extends 'base.html' %}


{% block main %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Documentação Objetos de aprendizagem</h1>
    <p class="mb-4">Os objetos de aprendizagem (OAs) integram uma tecnologia utilizada para construir materiais
        didáticos na Web, nela criando diversos componentes, os objetos, que tem a possibilidade de reutilização em
        diferentes contextos institucionais. Os Objetos de Aprendizagem, como são conhecidos atualmente, tornaram-se
        populares por este termo em 1994, cuja proposta original era descrever os materiais de aprendizagem que eram
        criados de forma independente, de uma maneira que estes pudessem combinar-se com outros objetos.</p>

    <div class="card my-4 py-3 border-left-primary">

        <div class="card-body">
            <h2 class="h4 mb-1 mb-2 text-gray-800">Geral</h2>

            <div>Esta categoria agrupa
                informações gerais que descrevem este
                objeto de aprendizagem como um todo.
            </div>
        </div>
    </div>

    <div>


        <b>Identificador:</b> Identifica globalmente o OA; <br />

        <b>Cat&aacute;logo:</b> nome do identificador utilizado para o objeto. Preenchido com a Uniform Resource
        Identifier
        (URI); <br />

        <b>Entrada:</b> valor da URI para o v&iacute;deo escolhido. Preenchido com o valor da URI em quest&atilde;o;
        <br />

        <b>T&iacute;tulo:</b> Nome do objeto de aprendizagem.; <br />

        <b>Idioma:</b> A(s) principal(is) linagem(s) natural(is) utilizada(s) no OA; <br />

        <b>Descri&ccedil;&atilde;o:</b> A defini&ccedil;&atilde;o textual do conte&uacute;do do OA. Preenchido com a
        descri&ccedil;&atilde;o do v&iacute;deo; <br />

        <b>Palavras-chave:</b> As principais palavras que descrevem este OA. N&atilde;o &eacute; preenchido mas, o
        usu&aacute;rio pode usar a API para obter as palavras-chave com base nos coment&aacute;rios do v&iacute;deo e
        escolher as que mais s&atilde;o adequadas para incluir; <br />

        <b>Cobertura:</b> O tempo, a cultura e a regi&atilde;o retratada no OA;<br />

        <b>Estrutura:</b> A estrutura organizacional deste objeto. A estrutura pode ser:</b> &aacute;tomo,
        cole&ccedil;&atilde;o,
        rede, hierarquia ou linear. Para o OA em quest&atilde;o a estrutura pr&eacute;-selecionada &eacute;
        &lsquo;&lsquo;&aacute;tomo&rsquo;&rsquo; pois ela n&atilde;o &eacute; uma cole&ccedil;&atilde;o e &eacute; um
        objeto indivis&iacute;vel neste contexto; <br />

        <b>N&iacute;vel de agrega&ccedil;&atilde;o:</b> defini&ccedil;&atilde;o da granularidade funcional. Foi
        preenchido com
        &lsquo;&lsquo;2&rsquo;&rsquo; que significa um objeto de aprendizagem completo, n&atilde;o &eacute; um fragmento
        e nem uma cole&ccedil;&atilde;o; <br />

        <b>Subn&iacute;vel de agrega&ccedil;&atilde;o:</b> N&iacute;vel adicional de detalhe da agrega&ccedil;&atilde;o.
        Preenchido com &lsquo;&lsquo;e&rsquo;&rsquo; que significa um tutorial ou uma aula que faz parte de um curso;
        <br />

        <b>Outros termos:</b> Cole&ccedil;&atilde;o de valores semanticamente equivalentes de diferentes ambientes de
        usu&aacute;rio;<br />

        <b>Termos:</b> Termos &uacute;nicos e claros que descrevem um contexto espec&iacute;fico.
    </div>



    <div class="card my-4 py-3 border-left-primary">

        <div class="card-body">
            <h2 class="h4 mb-1 mb-2 text-gray-800">Ciclo de vida</h2>

            <div>É o histórico do objeto. Mostra o estado atual e as versões anteriores. Estrutura:</b>
            </div>
        </div>
    </div>

    <div>
        <b>Vers&atilde;o:</b> Representa a vers&atilde;o do OA; <br />

        <b>Status:</b> O estado do projeto; <br />

        <b>Contribuinte:</b> As entidades que contribu&iacute;ram para o estado deste OA durante seu ciclo de vida;
        <br />

        <b>Entidade:</b> A identifica&ccedil;&atilde;o e informa&ccedil;&atilde;o sobre a entidade contribuinte; <br />

        <b>Papel:</b> O tipo de contribui&ccedil;&atilde;o dada; <br />

        <b>Data:</b> A data da contribui&ccedil;&atilde;o.<br />
    </div>

    <div class="card my-4 py-3 border-left-primary">

        <div class="card-body">
            <h2 class="h4 mb-1 mb-2 text-gray-800">Meta Metadados</h2>

            <div>Essa categoria identifica a inst&acirc;ncia de metadados. Estrutura:</b>
            </div>
        </div>
    </div>

    <div>
        <b>Identificador:</b> Rotulo &uacute;nico que identifica este registro de dados; <br />

        <b>Cat&aacute;logo:</b> nome do identificador utilizado para o objeto; <br />

        <b>Entrada:</b> valor do cat&aacute;logo escolhido; <br />

        <b>Entidade:</b> A identifica&ccedil;&atilde;o e informa&ccedil;&atilde;o sobre a entidade contribuinte; <br />

        <b>Papel:</b> O tipo de contribui&ccedil;&atilde;o dada; <br />

        <b>Data:</b> A data da contribui&ccedil;&atilde;o; <br />

        <b>Esquema de Metadados:</b> O nome e vers&atilde;o oficial usada para criar esta inst&acirc;ncia de meta-
        dados;
        <br />

        <b>Idioma:</b> Idioma utilizado nessa inst&acirc;ncia de metadados. <br />
    </div>

    <div class="card my-4 py-3 border-left-primary">

        <div class="card-body">
            <h2 class="h4 mb-1 mb-2 text-gray-800">Dados Técnicos</h2>

            <div>Descreve as caracter&iacute;sticas t&eacute;cnicas do OA. Estrutura:
            </div>
        </div>
    </div>

    <div><b>Formato:</b> O tipo dos dados. Preenchido com &lsquo;&lsquo;video&rsquo;&rsquo;; <br />

        <b>Tamanho:</b> O tamanho em bytes do arquivo; <br />

        <b>Localiza&ccedil;&atilde;o:</b> O link utilizado para acessar o OA; <br />

        <b>Requisitos:</b> Suporte t&eacute;cnico necess&aacute;rio para acessar o OA; <br />

        <b>Ou composto:</b> Grupo de requisitos. Considera-se com os requisitos satisfeitos quando pelo menos um grupo
        estiver satisfeito; <br />

        <b>Tipo:</b> As tecnologias necess&aacute;rias para acessar este objeto; <br />

        <b>Nome:</b> O nome das tecnologias necess&aacute;rias para utilizar este OA; <br />

        <b>Vers&atilde;o m&iacute;nima:</b> Menor vers&atilde;o poss&iacute;vel dos requisito tecnol&oacute;gico para
        utilizar este objeto; <br />

        <b>Vers&atilde;o m&aacute;xima:</b> Maior vers&atilde;o poss&iacute;vel dos requisitos tecnol&oacute;gicos para
        utilizar este objeto. <br />

        <b>Observa&ccedil;&otilde;es de instala&ccedil;&atilde;o:</b> Descri&ccedil;&atilde;o de como instalar este
        objeto de aprendizagem; <br />

        <b>Outros requisitos de sistema:</b> Informa&ccedil;&otilde;es sobre outros softwares necess&aacute;rios para
        utili- za&ccedil;&atilde;o deste OA; <br />

        <b>Dura&ccedil;&atilde;o:</b> O tempo de dura&ccedil;&atilde;o do objeto quando tocado na velocidade
        desejada.<br />
    </div>

    <div class="card my-4 py-3 border-left-primary">

        <div class="card-body">
            <h2 class="h4 mb-1 mb-2 text-gray-800">Aspectos Educacionais</h2>

            <div>Descreve as caracter&iacute;sticas educacionais do objeto. Estrutura:
            </div>
        </div>
    </div>
    <div><b>Tipo de interatividade: </b>O predominante modo de interatividade requerido ao aluno; <br />

        <b>Tipo de recurso de aprendizado:</b> Especifica o tipo do objeto de aprendizagem; <br />

        <b>Nível de interatividade: </b>O grau de interatividade do objeto de aprendizagem com o aluno; <br />

        <b>Densidade semântica: </b>O quão extenso é o OA; <br />

        <b>Usuário final: </b>O principal usuário para o qual o OA foi destinado; <br />

        <b>Contexto de aprendizagem: </b>Para qual ambiente o OA é destinado; <br />

        <b>Idade recomendada: </b>A faixa etária recomendada a utilizar o objeto; <br />

        <b>Grau de dificuldade: </b>O quão difícil é aprender com este objeto de aprendizagem; <br />

        <b>Tempo de aprendizado: </b>O tempo médio gasto para aprender com este OA; <br />

        <b>Intervalo de tempo de aprendizado: </b>O intervalo de tempo estimado para o público-alvo aprender com este
        objeto. <br />

        <b>Descrição: </b>Comentários de como este objeto está sendo utilizado. <br />

        <b>Linguagem:</b> O idioma utilizado pelo público-alvo do OA. <br />

        <b>Domínio cognitivo:</b> Identifica o nível cognitivo baseado nas definições de Bloom ou Mer- ril. <br />

        <b>Estratégia cognitiva:</b> Sugere recursos de aprendizagem que aumentam as habilidades e os conhecimentos do
        aluno com base no domínio cognitivo. <br />
    </div>

    <div class="card my-4 py-3 border-left-primary">

        <div class="card-body">
            <h2 class="h4 mb-1 mb-2 text-gray-800">Direitos</h2>

            <div>A categoria descreve as condições de uso do OA. Estrutura:
            </div>
        </div>
    </div>
    <div>
        <b>Custos:</b> Se &eacute; necess&aacute;rio pagamento para usar este objeto; <br />

        <b>Direitos autorais:</b> Se existem direitos autorais ou outras restri&ccedil;&otilde;es para usar este objeto;
        <br />

        <b>Descri&ccedil;&atilde;o: </b>Coment&aacute;rios sobre as restri&ccedil;&otilde;es de uso deste objeto de
        aprendizagem.<br />
    </div>

    <div class="card my-4 py-3 border-left-primary">

        <div class="card-body">
            <h2 class="h4 mb-1 mb-2 text-gray-800">Relações</h2>

            <div>Define os relacionamentos entre este e outro determinado OA. Estrutura:
            </div>
        </div>
    </div>

    <div>
        <b>Tipo:</b> Natureza do relacionamento; <br />

        <b>Recurso:</b> O determinado OA que esta rela&ccedil;&atilde;o referencia; <br />


        <b>Identificador:</b> Um r&oacute;tulo &uacute;nico e global que identifica o determinado OA; <br />


        <b>Cat&aacute;logo:</b> nome do identificador utilizado para o objeto; <br />


        <b>Entrada:</b> valor do cat&aacute;logo escolhido; <br />


        <b>Descri&ccedil;&atilde;o:</b> Descri&ccedil;&atilde;o do determinado objeto de aprendizagem.<br />
    </div>

    <div class="card my-4 py-3 border-left-primary">

        <div class="card-body">
            <h2 class="h4 mb-1 mb-2 text-gray-800">Anotações</h2>

            <div>Essa categoria contém comentários sobre o uso educacional deste OA e informações de quando e por quem
                esses comentários foram criados. Estrutura:
            </div>
        </div>
    </div>

    <div>
        <b>Entidade:</b> Pessoa ou organização que criou essa anotação; <br />

        <b>Data: </b>A data em que essa anotação foi criada; <br />

        <b>Descrição: </b>Conteúdo da anotação. <br />
    </div>

    <div class="card my-4 py-3 border-left-primary">

        <div class="card-body">
            <h2 class="h4 mb-1 mb-2 text-gray-800">Classificação</h2>

            <div>Essa categoria estabelece a classe apropriada para este objeto de aprendizado a partir de um
                determinado sistema de classificação. Estrutura:
            </div>
        </div>
    </div>
    <div>
        <b>Prop&oacute;sito: </b>O intuito de classificar este OA; <br />

        <b>Caminho t&aacute;xon: </b>Um caminho taxon&ocirc;mico em um sistema de classifica&ccedil;&atilde;o
        espec&iacute;fico; <br />

        <b>Fonte: </b>O nome do sistema de classifica&ccedil;&atilde;o; <br />

        <b>T&aacute;xon: </b>Um termo particular dentro de uma taxonomia; <br />

        <b>Id:</b> O identificador do t&aacute;xon; <br />

        <b>Entrada: </b>O r&oacute;tulo textual do t&aacute;xon; <br />

        <b>Descri&ccedil;&atilde;o: </b>A defini&ccedil;&atilde;o do OA em rela&ccedil;&atilde;o a
        classifica&ccedil;&atilde;o declarada; <br />

        <b>Palavra-chave: </b>Palavras-chave e frases que definam esse OA com rela&ccedil;&atilde;o a
        classifica&ccedil;&atilde;o.<br />
    </div>



</div>
{% endblock %}